{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Edit galery {{ galery.title }}</h1>
    {% include 'Galery/_form.html.twig' %}
    <a href="/galery/show/{{ galery.id }}">Back</a>
{% endblock %}
