{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Galerys</h1>
    <ul>
        {% for galery in galerys %}
            <li><a href="/galery/show/{{ galery.id }}">{{ galery.id }}. {{ galery.title }}</a></li>
        {% else %}
            <li>Nothing to display</li>
        {% endfor %}
    </ul>
    <a href="/galery/add">Ajouter</a>
{% endblock %}
