 {% block header %}
    <div class="p-0 rounded" >
        <nav class="navbar shadow fixed-top navbar-expand-lg navbar-dark bg-white-transp">
            <img src="/assets/images/logo-country-45.png" width="55" alt="Country_Club_45"> <a href="Homepage"></a>
            <p class="titleAdmin">Admin</p>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation"><span
                        class="black-text">
                <span class="navbar-toggler-icon"></span></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="association/index">Actualités</a><span class="sr-only">(current)</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Country Day</a><span class="sr-only"></span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/AdminTeacher/index">Animatrices</a><span class="sr-only"></span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Bureau</a><span class="sr-only"></span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Galerie photos</a><span class="sr-only"></span>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
{% endblock %}
