{% extends 'layout.html.twig' %}
{% block header %}
    {% include 'Admin/header.html.twig' %}
{% endblock %}

{% block content %}
    <h1><a href="Admin/addCountry.html.twig" >Add a new Country Day</a></h1>
    {% include 'Admin/formCountry.html.twig' %}

{% endblock %}
