
<form method="post" enctype="multipart/form-data">
    <input type="hidden" value="{{ picture.id }}" name="id">

    <div class="form-group GalleryPicture col-md-8 col-lg-6">
        <label for="photo">photo : </label>
        <input type="file" name="file" id="pictures">
        {% if errors.photo is not null %}
            <ul class="alert alert-danger">
                <li>{{ errors.photo }}</li>
            </ul>
        {% endif %}
    </div>

    <div class="form-group GalleryPicture col-md-8 col-lg-6">
        <label for="title">Ajouter un titre à votre photo : </label>
        <input type="text" class="form-control" id="title" value="{{ picture.title }}" name="title">
        {% if errors.title is not null %}
            <ul class="alert alert-danger">
                <li>{{ errors.title }}</li>
            </ul>
        {% endif %}
    </div>

    <div class="btnFormPicture">
        <button type="submit" class="btn btn-outline-secondary col-md-3 col-lg-2 col-4">Ajouter</button>
    </div>
    <div class="btnFormPicture1">
        <a href="/AdminGallery/index"><button type="button" class="btn btn-outline-secondary col-md-3 col-lg-2 col-4">
              Retour</button></a>
    </div>
</form>
