{% block countryDay %}
<div class="container-fluid containerCountry" >
    <div  class="countryTitle" align="center"><h2>COUNTRY DAY</h2></div>
    <div class="row ">
        <div class="col-md-5">
            <figure class="figure">
                <img   src="/assets/upload/{{ event.image }}" class="rounded mx-auto d-block imgCountryDay" alt="country day">
            </figure>
        </div>
        <div class="col-md-6">
            <div class="card-body">
                <h4 class="card-title">{{ event.subtitle }}</h4>
                <p class="card-text">
                    {{ event.description }}
                </p>
            </div>
            {% if event.video %}
                <div>
                    <iframe src="https://www.youtube.com/embed/{{event.video}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" class="iframeCountryDay" allowfullscreen></iframe>
                </div>
                {% else %}
                    <div><h3>Très bientôt votre video</h3></div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

