{% block countryDay %}

<div class="container bg-light text-dark" >
    <div  class="card-header" align="center"><h3>COUNTRY DAY</h3></div>
    <div class="row ">
        <div class="col-md-6">
            <figure class="figure">
                <img   src="/assets/images/{{ countryDay.image }}" class="rounded mx-auto d-block" width="=250" height="550" alt="country day">
            </figure>
        </div>
        <div class="col-md-6">
            <div class="card-body">
                <h4 class="card-title">{{ countryDay.subtitle }} titre</h4>
                <p class="card-text">
                    {{ countryDay.description }}
                </p>
            </div>
            <div>
                <iframe width="450" height="300" src="https://www.youtube.com/embed/FqJl3d7yU5g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
{% endblock %}

