{% block footer %}
    <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="d-flex justify-content-around col-lg-4 col-12">
                    <div class="links1">
                        <h3 class="title_footer">LE COUNTRY CLUB</h3>
                        <div><a href="#association" title="Association">Association</a></div>
                        <div><a href="#adherer" title="Adherer">Adhérer</a></div>
                        <div><a href="#galerie" title="Galerie">Galerie</a></div>
                        <div><a href="#contact" title="Contact">Contact</a></div>
                    </div>
                </div>
                <div class=" d-flex justify-content-around col-lg-4 col-12">
                    <div class="logo_CCR45">
                        <img src="assets/images/logofooter.png" alt="logo du club">
                    </div>
                </div>
                <div class="d-flex justify-content-around col-lg-4 col-12">
                    <div class="infos_footer">
                        <h3 class="title_footer">INFOS</h3>
                        <a href="#Mentions" title="Mentions légales">Mentions légales</a>
                        <a href="#plan-du-site" title="Plan du site">Plan du site</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footerAdress">
            <address>
                <p> Country Club Route 45 </p>
                <p> 54 rue des Chênes </p>
                <p> 45160 Olivet </p>
                <p> Tél.: 06.79.31.64.70 </p>
            </address>
        </div>
    </footer>
{% endblock %}