{% extends 'layout.html.twig' %}

{% block content %}
{#caroussel#}
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/assets/images/paysageR66.jpg" class="d-block w-100" alt="Paysage de la route 66">
                        <div class="carousel-caption d-md-block">
                            <h5 class="title-carousel">COUNTRY DANSE AND LINE DANCE</h5>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <img src="/assets/images/paysageR66panneau.jpg" class="d-block w-100" alt="Paysage de la route 66">
                        <div class="carousel-asso carousel-caption d-md-block">
                            <h5 class="title-carousel">ASSOCIATION ORLÉANAISE</h5>
                        </div>
                    </div>
                </div>
            </div>
{#actualités#}

{#country day#}
{% endblock %}
