{% extends 'layout.html.twig' %}

{% block content %}

{#caroussel#}

            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/assets/images/countrydanseline-min.jpg" class="d-block w-100" alt="Paysage de la route 66">
                        <div class="carousel-caption d-md-block">
                            <h5 class="title-carousel">DANSE COUNTRY AND</h5>
                            <h5 class="title-carousel">LINE DANCE</h5>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <img src="/assets/images/route66paysage-min.jpg" class="d-block w-100" alt="Paysage de la route 66">
                        <div class="carousel-asso carousel-caption d-md-block">
                            <h5 class="title-carousel">ASSOCIATION ORLÉANAISE</h5>
                        </div>
                    </div>
                </div>
            </div>
{#actualités#}
   {% block news %}
        {% include 'Home/news.html.twig' %}
    {% endblock %}
{#country day#}
    {% block countryDay %}
        {% include 'Home/country.html.twig' %}
    {% endblock %}
{% endblock %}




