<div class="box-news-home sectionNews">
    <h1>Focus sur l'association</h1>
    <div class="row d-flex justify-content-around">
        {% for article in  news %}
            <div class="card card-news">
                <img src="/assets/images/img-news.jpg" class="card-img-top news" alt=" ">

                <div class="card-body">
                    <h5 class="card-title title-news">{{ article.title }}</h5>
                    <p class="card-text">{{ article.description }}</p>
                    <p class="card-text">
                        <small class="text-muted date-news-home">Le {{ article.date|date("d/m/Y") }}</small>
                    </p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>