<div class="box-news-home">
    <h3 class="title-news">Focus sur l'association:</h3>
    {% for article in  news %}
        <div class="one-news-home">
            <div class="one-news-home">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title title-news-home">{{article.title}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted date-news-home">{{article.date|date("d/m/Y")}}</h6>
                        <p class="card-text text-news-home">{{ article.description }}</p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>