{% extends 'layout.html.twig' %}
{% block header %}
    {% include 'Admin/header.html.twig' %}
{% endblock %}

{% block content %}
    <img class="bg-pagesAdmin" src="/assets/images/westernAdmin.jpg" alt="paysage canyon">
        <h1>Ajouter une actu Country Day</h1>
    {% include 'CountryDay/form.html.twig' %}
{% endblock %}


