{% extends 'layout.html.twig' %}

{% block content %}
    <div class="titleContact">
        <h1>Plan du site</h1>
    </div>
    <div class="parallaxGalerie"></div>
        <div class="box-sitemap-content">
            <div class="box-sitemap-element">
                <p class="element-sitemap">Association: </p>
                <a href="/association/index" class="link-sitemap">/association/index</a>
            </div>
            <div class="box-sitemap-element">
                <p class="element-sitemap">Adhérer: </p>
                <a href="/join/index" class="link-sitemap">/join/index</a>
            </div>
            <div class="box-sitemap-element">
                <p class="element-sitemap">Galerie: </p>
                <a href="/gallery/index" class="link-sitemap">/gallery/index</a>
            </div>
            <div class="box-sitemap-element">
                <p class="element-sitemap">Contact: </p>
                <a href="/contact/index" class="link-sitemap">/contact/index</a>
            </div>
        </div>
    <div class="parallaxGalerie"></div>
{% endblock %}