:root {
    --font-title: 'Stardos Stencil', cursive;
    --font-content: 'Roboto', sans-serif;
    --primary-color: #FFB223;
    --secondary-color: #B7542D;
    --block-color-dark: #555;
    --text-color-light: #EEE;
    --text-color-medium: #BBB;
    --text-color-dark: #A9A9A9;
}
.navbar-dark .navbar-nav .nav-link {
    color: black;
    margin: 2vw;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: lightslategrey;
}
.navbar-brand {
    margin-right: 5vw;
}
.nav-link {
    font-size: 15pt;
    font-family: var(--font-title);
}
.navbar-toggler-icon {
    background: lightgray;
}
.dark-blue-text {
    color: black;
}

.title-carousel-primary{
    font-size: calc(14px + 80 * ((100vw - 320px) / 960));
    text-shadow: 0px 0px 0.3em black;
    font-family: var(--font-title);
}

.title-carousel-secondary{
    font-size: calc(14px + 60 * ((100vw - 320px) / 960));
    text-shadow: 0px 0px 0.3em black;
    font-family: var(--font-content);
}

footer {
    background-color: var(--block-color-dark);
    color: var(--text-color-light);
    width:100%;
    height:35%;
}

footer a {
    text-decoration: none;
    color: var(--text-color-light);
}

a:hover {
    text-decoration:underline;
}

.footer_nav {
    display:flex;
    justify-content:space-around;
    padding-bottom:20px;
    border-bottom:2px gray solid;
}

.asso_footer {
    display:flex;
    flex-flow:column;
}

.asso_footer a {
    padding-top:3px;
    font-size:20px;
    text-decoration:none;
}

.infos_footer {
    display:flex;
    flex-flow:column;
    text-align: center;
    margin-top: 20px;
}

.infos_footer a {
    padding-top:3px;
    text-decoration:none;
    font-size: 16pt;
}

.footerAdress {
    display: flex;
    justify-content: center;
    padding: 2rem 0 ;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    font-size: 16pt;
    border-top: 1px solid white;
}

.title_footer {
    font-weight:500;
    font-size:30px;
    color: white;
    font-family: var(--font-title);
}

.logo_CCR45 img {
    width: 175px;
    margin: 20px 0;
    filter: drop-shadow(0 0 0.4rem #303030);
}

.row {
    padding-top: 25px;
}

footer a:hover {
    color: var(--text-color-dark);
    text-decoration: none;
}

.links1 {
    text-align: center;
    margin-top: 20px;
    font-size: 16pt;
    line-height: 1.7;
    font-size: 16pt;
}

address {
    text-align: center;
    line-height: 1.1;
}
