:root {
    --font-title: docktrin, cursive;
    --font-content: 'Roboto', sans-serif;
    --primary-color: #FFB223;
    --secondary-color: #B7542D;
    --block-color-dark: #555;
    --text-color-light: #EEE;
    --text-color-medium: #BBB;
    --text-color-dark: #878787;
    --dark-color: black;
    --light-color: white;
    --bg-transp: rgba(255, 255, 255, 0.8);
}

@font-face {
    font-family: docktrin;
    src: url("../font/docktrin.ttf");
}


h1 {
    font-family: var(--font-title);
    text-align: center;
    padding: 50px 0;
}

.title {
    font-family: var(--font-title);
}

li {
    list-style: none;
}


/************** NAVBAR *****************/

.navbar-dark .navbar-nav .nav-link {
    color: var(--block-color-dark);
    margin: 1vw 2vw;
    background-color: transparent;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: var(--text-color-dark);
    border-bottom: 2px var(--text-color-medium) solid;
    padding-bottom: 0;
}

.navbar-brand {
    margin-right: 5vw;
}

.bg-white-transp {
    background-color: var(--bg-transp);
}

.nav-link {
    font-size: 18pt;
    font-family: var(--font-title);
}

.navbar-toggler-icon {
    background: var(--text-color-dark);
}

.dark-blue-text {
    color: var(--dark-color);
}

.navbar img {
    margin-left: 10px;
}

.navbar {
    padding: .3rem 1rem;
}


/************** CAROUSSEL *****************/

.title-carousel {
    font-size: calc(14px + 65 * ((100vw - 320px) / 960));
    text-shadow: 0px 0px 0.1em var(--dark-color);
    font-family: var(--font-title);
}

.carousel {
    margin-bottom: 100px;
}

/************** FOOTER *****************/

footer {
    background-color: var(--block-color-dark);
    color: var(--text-color-light);
    width: 100%;
    height: 35%;
}

footer a {
    text-decoration: none;
    color: var(--text-color-light);
}

a:hover {
    text-decoration: underline;
}

.footer_nav {
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
    border-bottom: 2px gray solid;
}

.asso_footer {
    display: flex;
    flex-flow: column;
}

.asso_footer a {
    padding-top: 3px;
    font-size: 20px;
    text-decoration: none;
}

.infos_footer {
    display: flex;
    flex-flow: column;
    text-align: center;
    margin-top: 20px;
}

.infos_footer a {
    padding-top: 3px;
    text-decoration: none;
    font-size: 16pt;
}

.footerAdress {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    font-size: 16pt;
    border-top: 1px solid var(--light-color);
}

.title_footer {
    font-weight: 500;
    font-size: 30px;
    color: var(--light-color);
    font-family: var(--font-title);
}

.logo_CCR45 img {
    width: 175px;
    margin: 20px 0;
    filter: drop-shadow(0 0 0.4rem #303030);
}

.row {
    padding-top: 25px;
}

footer a:hover {
    color: var(--text-color-dark);
    text-decoration: none;
}

.links1 {
    text-align: center;
    margin-top: 20px;
    font-size: 16pt;
    line-height: 1.7;
    font-size: 16pt;
}

address {
    text-align: center;
    line-height: 1.1;
}
.card-header {
    font-family: var(--font-title);
}
ul, li {
    margin-top: 10px;
    list-style-type: none;
    text-align: center;
}
.btn-primary {
    
}


.titlePresentation, .titleMember {
    text-align: center;
    margin-top: 30px;
}

/* Section news home*/
.title-news {
    font-size: 2.2em;
    font-family: var(--font-title);
    padding-left: 2em;
}

.box-news-home {
    margin-top: 1em;
    margin-bottom: 2em;
    flex-direction: column;
    justify-content: center;
}

.date-news-home {
    color: var(--text-color-dark);
    text-decoration: none;
    font-family: var(--font-content);
    font-size: 1.2em;
    margin-top: 1em;
}

.title-news-home {
    font-family: var(--font-content);
    font-size: 1.8em;
}

.text-news-home {
    font-family: var(--font-content);
    text-align: left;
}
.form_contact {
    padding: 50pt;
}
legend {
    font-family: var(--font-title);
    margin-top:  35pt;
}
.Join {
    text-align: center;
}
u {
    font-family: var(--font-title);
}
button {
    margin-top: 15pt;
}
.parallax {
    /* The image used */
    background-image: url('../../assets/images/pagecontact.jpeg');
    width: 100%; /* Full height */
    height: 50vh;
    margin-bottom: 1px; /* Create the parallax scrolling effect */
    margin-top: 5px;
}

.card-news {
    display: inline-flex;
    max-width: 500px;
    margin: 0.5em;
}
.imgCountryDay {
    width: 70%;

}
.iframeCountryDay {
    width:100%;
    height: 300px;
}
.countryTitle {
    font-family: var(--font-title) ;
    padding-top: 50px;
}


/*SECTION CONTACT*/

.parallax {
    background-image: url('../../assets/images/pagecontact.jpeg');
    width: 100%;
    height: 58vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.tarif-upload, .form_contact {
    background-color: whitesmoke;
}
.bulletin {
    height: 100%;
}
.etape1 {
    padding: 8px;
}
.titleadherer {
    margin-top: 5%;
    text-align: center;
    font-family: var(--font-title);
    background-color: white;
}

.titleContact > h1 {
    padding: 9%;
    text-align: center;
    font-family: var(--font-title);
    color: var(--text-color-light);
    text-shadow: 1px 1px 10px black;
    font-size: 7rem;
    font-size: calc(14px + 65 * ((100vw - 320px) / 960));
}

.bg-contact {
    background-image: url('../../assets/images/hat2.png');
    background-repeat: no-repeat;
    background-position: center top;
    margin-top: 2%;
    background-size: 75rem;
}

.labelcontact {
    font-size: 1.5em;
}

.contactform {
    width: 85%;
    padding: 8%;
}

.buttoncontact {
    text-align: center;
    padding-top: 2em;
}

/************** MEMBERS *****************/

.cardassociation {
    margin-top: 4em;
}

.title_association_adress {
    font-family: var(--font-title);
}

.cardassociation {
    font-size: 14pt;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/************** ASSOCIATION *****************/

.titleAssociation {
    margin-top: 40px;
}

.lead {
    text-align: justify;
}

.jumbotron-fluid {
    padding-left: 50px;
    width: 50%;
}

.imgPres {
    border-radius: 10px;
}

.sectionTeachers {
    background-color: var(--text-color-light);
    padding-bottom: 50px;
    background-image: url('/assets/images/danseursVectoriel.png');
    background-repeat: no-repeat;
    background-position: right;
}

.teacherCard {
    width: 22rem;
    border: none;
    box-shadow: 10px 10px 15px var(--text-color-dark);
    margin: 0 100px 0 5%;
    background-color: var(--light-color);
    padding: 20px;
    font-size: 1.1em;
}

.practiceCard {
    background-color: transparent;
    border: none;
    padding-bottom: 10px;
    font-size: 1.2em;
}

.teacherAndPractice {
    display: flex;
    justify-content: flex-start;
    align-items: end;
    margin-bottom: 70px;
}

.imgTeachers {
    width: 60%;
    align-self: center;
    margin: 20px 0;
    border-radius: 50%;
}

.teacherTitle {
    text-align: center;
    font-family: var(--font-title);
}

.teacher-text {
    text-align: justify;
    font-style: italic;
    padding-top: 10px;
}

.memberFunction {
    text-align: center;
    font-style: italic;
}

.memberName {
    text-align: center;
}

.imgMember {
    align-self: center;
    border-radius: 10px;
}

.imagePresentation {
    width: 30em;
    margin-bottom: 50px;
}

.cardMember {
    opacity: 100%;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
}

.cardMember:hover {
    opacity: 80%;
}


/*************** Admin *******************/

.btn-logout {
    align-self: center;
}


.bg-pagesAdmin{
    width: 100%;
}

.teacherCardAdmin {
    width: 18rem;
    margin: 0 100px 40px 5%;
    background-color: var(--light-color);
    padding: 20px;
    font-size: 1.3em;
    text-align: center;
}

.containerTeacherAdmin{
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.titleAdmin {
    font-family: var(--font-title);
    padding-left: 10px;
    font-size: 2em;
    margin: 0;
}

.bg-homeAdmin {
    width: 100%;
}

/*************** Admin Members*******************/


.memberCardAdmin {
    width: 18rem;
    margin: 0 100px 0 5%;
    background-color: var(--light-color);
    padding: 20px;
    font-size: 1.3em;
    text-align: center;
}

.containerMemberAdmin{
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    justify-content: center;
}


/*Galerie*/
.thumb{
    margin-bottom: 30px;
}

.box-gallery {
    margin-right: 2em;
    margin-left: 2em;
    margin-top: 4em;
    margin-bottom: 4em;
}
.title-gallery {
    font-size: 2.2em;
    font-family: var(--font-title);
    text-align: center;
    margin-bottom: 2em;
}
.parallaxGalerie {
    background-image: url('../../assets/images/pagegalerie.jpg');
    width: 100%;
    height: 50vh;
    margin-top: 5px;
    /* Pour l'effet scroll*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.formAdmin{
    margin: 10px auto;
}

.btnFormAdmin{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.btnReturnAdmin {
    margin: 20px;
}


.imgAjout {
    width: 50%;
    align-self: center;
}

.linkBtnAjout{
    justify-content: center;
    display: flex;


/************ADMIN NEWS****************/
.newsCardAdmin {
    width: 22rem;
    margin: 0 10px 0 5%;
    background-color: var(--light-color);
    padding: 20px;
    font-size: 1.3em;
    text-align: center;
}

.containerNewsAdmin{
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    justify-content: center;
}
