:root {
    --font-title: 'Stardos Stencil', cursive;
    --font-content: 'Roboto', sans-serif;
    --primary-color: #FFB223;
    --secondary-color: #B7542D;
    --block-color-dark: #555;
    --text-color-light: #EEE;
    --text-color-medium: #BBB;
    --text-color-dark: #A9A9A9;
}
.navbar-dark .navbar-nav .nav-link {
    color: black;
    margin: 2vw;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: lightslategrey;
}
.navbar-brand {
    margin-right: 5vw;
}
.nav-link {
    font-size: 15pt;
    font-family: var(--font-title);
}
.navbar-toggler-icon {
    background: lightgray;
}
.dark-blue-text {
    color: black;
}

.title-carousel-primary{
    font-size: calc(14px + 80 * ((100vw - 320px) / 960));
    text-shadow: 0px 0px 0.3em black;
    font-family: var(--font-title);
}

.title-carousel-secondary{
    font-size: calc(14px + 60 * ((100vw - 320px) / 960));
    text-shadow: 0px 0px 0.3em black;
    font-family: var(--font-content);
}

footer {
    background-color: var(--block-color-dark);
    color: var(--text-color-light);
    width:100%;
    height:35%;
}

footer a {
    text-decoration: none;
    color: var(--text-color-light);
}

a:hover {
    text-decoration:underline;
}

.footer_nav {
    display:flex;
    justify-content:space-around;
    padding-bottom:20px;
    border-bottom:2px gray solid;
}

.asso_footer {
    display:flex;
    flex-flow:column;
}

.asso_footer a {
    padding-top:3px;
    font-size:20px;
    text-decoration:none;
}

.infos_footer {
    display:flex;
    flex-flow:column;
    text-align: center;
    margin-top: 20px;
}

.infos_footer a {
    padding-top:3px;
    text-decoration:none;
    font-size: 16pt;
}

.footerAdress {
    display: flex;
    justify-content: center;
    padding: 2rem 0 ;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    font-size: 16pt;
    border-top: 1px solid white;
}

.title_footer {
    font-weight:500;
    font-size:30px;
    color: white;
    font-family: var(--font-title);
}

.logo_CCR45 img {
    width: 175px;
    margin: 20px 0;
    filter: drop-shadow(0 0 0.4rem #303030);
}

.row {
    padding-top: 25px;
}

footer a:hover {
    color: var(--text-color-dark);
    text-decoration: none;
}

.links1 {
    text-align: center;
    margin-top: 20px;
    font-size: 16pt;
    line-height: 1.7;
    font-size: 16pt;
}

address {
    text-align: center;
    line-height: 1.1;
}
.card-header {
    font-family: var(--font-title);
}
ul, li {
    margin-top: 10px;
    list-style-type: none;
    text-align: center;
}
.btn-primary {
    
}
/* Section news home*/
.title-news {
    font-size: 2.2em;
    font-family: var(--font-title);
}
.box-news-home {
    margin-left: 2em;
    margin-top: 1em;
    margin-bottom: 2em;
    text-align: center;
}
.date-news-home {
    color: var(--text-color-dark);
    text-decoration: none;
    font-family: var(--font-content);
    font-size: 1.2em;
    margin-top: 1em;
}
.title-news-home {
    font-family: var(--font-content);
    font-size: 1.8em;
}
.button-news-display {
    background-color: var(--text-color-medium);
    padding: 0.5em;
    font-family: var(--font-content);
    border: none;
}
.one-news-home {
    margin-top: 2em;
}
.text-news-home {
    font-family: var(--font-content);
    text-align: left;
}
.form_contact {
    padding: 50pt;
}
legend {
    font-family: var(--font-title);
    margin-top:  35pt;
}
.Join {
    text-align: center;
}
label {
    font-family: var(--font-title);
}
u {
    font-family: var(--font-title);
}
button {
    margin-top: 15pt;
}
.parallax {
    /* The image used */
    background-image: url('../../assets/images/route66bis.jpeg');
    width: 100%;    /* Full height */
    height: 50vh;
    margin-bottom: 1px;    /* Create the parallax scrolling effect */
    margin-top: 5px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.tarif-upload, .form_contact {
    background-color: whitesmoke;
}
.bulletin {
    height: 100%;
}
.etape1 {
    padding: 8px;
}
.titleadherer {
    margin-top: 5%;
    text-align: center;
    font-family: var(--font-title);
    background-color: white;
}
