{% extends 'layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-sm-6 offset-sm-1">
            <div class="card text-center">
                <div class="card-body1">
                    <h2 class="card-header">Tarif</h2>
                    <p class="card-text"></p>
                    <ul>
                        <li>
                            <h4><u>Forfait annuel Saison 2019/2020</u></h4>
                            <p>Accès sur les deux sites à tous les cours pour tous niveaux !</p>
                        </li>
                        <li>
                            <h4><u>1 personne</u></h4>
                            <p>195 euros</p>
                        </li>
                        <li>
                            <h4><u>1 couple ou deux personnes du même foyer</u></h4>
                            <p>295 euros</p>
                        </li>
                        <li>
                            <h4><u>1 étudiant jusqu'à 25 ans ou chômeur (sur justificatif)</u></h4>
                            <p>195 euros</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-header">Bulletin d'inscription</h2>
                    <p class="card-text">Bulletin d'inscription au format papier disponible en cliquant sur le bouton <strong>"télécharger"</strong>.</p>
                    <a href="#" class="btn btn-primary">Télécharger</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}