{% extends 'layout.html.twig' %}

{% block content %}
    <img class="bg-pagesAdmin" src="/assets/images/westernAdmin.jpg" alt="paysage canyon">
    <h1>Modifier {{ teacher.firstname }} {{ teacher.lastname }}</h1>
    {% include 'Admin/Teacher/_form.html.twig' %}
    <a href="/Admin/Teacher/index/{{ teacher.id }}">Back</a>
{% endblock %}
