{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Edit adhere {{ adhere.title }}</h1>
    {% include 'Adhere/_form.html.twig' %}
    <a href="/adhere/show/{{ adhere.id }}">Back</a>
{% endblock %}
