{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Adheres</h1>
    <ul>
        {% for adhere in adheres %}
            <li><a href="/adhere/show/{{ adhere.id }}">{{ adhere.id }}. {{ adhere.title }}</a></li>
        {% else %}
            <li>Nothing to display</li>
        {% endfor %}
    </ul>
    <a href="/adhere/add">Ajouter</a>
{% endblock %}
