<form method="post">
    <input type="hidden" value="{{ association.id }}" name="id">
    <input type="text" value="{{ association.title }}" name="title">
    <input type="submit" value="Valider">
</form>
