{% extends 'layout.html.twig' %}

{% block content %}



    {# Présentation #}
    {# Animatrices #}
    <h1>Animatrices</h1>
    <ul>
        {% for teacher in teachers %}
            <li><a href="/association/show/{{ association.id }}">{{ association.id }}. {{ association.title }}</a></li>
        {% else %}
            <li>Nothing to display</li>
        {% endfor %}
    </ul>

    {# Bureau #}


{% endblock %}
