{% extends 'layout.html.twig' %}

{% block content %}
    {# Présentation #}
    {# Animatrices #}
    <h1>Animatrices</h1>
    <div class="container teachers">
        {% for teacher in teachers %}
            <div class="card teacherCard">
                <img src="/assets/uploads/{{ teacher.image }}" class="card-img-top" alt="country's teacher">
                <div class="card-body">
                    <h3 class="teacherTitle">{{ teacher.firstname }} {{ teacher.lastname }}</h3>
                    <p class="card-text"> "{{ teacher.description }}" </p>
                </div>
            </div>
        {% endfor %}
    </div>
    {# Bureau #}
{% endblock %}
