{% extends 'layout.html.twig' %}
{% block header %}
    {% include 'Admin/header.html.twig' %}
{% endblock %}

{% block content %}
    <img class="bg-pagesAdmin" src="/assets/images/westernAdmin.jpg" alt="paysage canyon">
    <h1>Actualités</h1>
    <div class="containerNewsAdmin">
        {% for article in news %}
        <div class="card newsCardAdmin">
            <p class="title-news-admin">{{ article.title }}</p>
            <p class="txt-news-admin">{{ article.date|date("d/m/Y") }}</p>
            <div class="card-body">
                <a href="/AdminNews/edit/{{ article.id }}"><p class="card-text link-modify-news">Modifier l'actualité</p></a>
                <form class="col-12" method="post" action="/AdminNews/delete/{{ article.id }}">
                    <input type="submit" name="delete" value="Supprimer l'actualité" class="btn btn-outline-danger">
                </form>
            </div>
        </div>
        {% else %}
            <li>Rien à afficher</li>
        {% endfor %}
        <a href="/AdminNews/add" class="linkBtnAjout">
            <img src="/assets/images/btnAdd.png" class="card-img-top imgAddNews" alt="Ajouter une actualité">
        </a>
    </div>
{% endblock %}
