{% extends 'layout.html.twig' %}

{% block content %}


    {#Contact#}

    <div class="titleContact">
        <h1>Pour joindre Country Club Route 45</h1>
    </div>

    <div class="parallax"></div>
    <div class="row">
        <div class="d-flex justify-content-around col-sm-5 offset-sm-2">
            <form class="contactform">
                <div class="form-group">
                    <label class="labelcontact" for="lastname">Nom</label>
                    <input type="text" class="form-control" id="lastname" placeholder="Votre nom" required>
                </div>
                <div class="form-group">
                    <label class="labelcontact" for="firstname">Prénom</label>
                    <input type="text" class="form-control" id="firstname" placeholder="Votre prénom" required>
                </div>
                <div class="form-group">
                    <label class="labelcontact">Votre adresse mail</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nom@exemple.com"
                           required>
                </div>
                <div class="form-group">
                    <label class="labelcontact">Vous voulez parler de...</label>
                    <input type="text" class="form-control" id="subject" placeholder="Votre sujet" required>
                </div>
                <div class="form-group">
                    <label class="labelcontact">Votre message</label>
                    <textarea class="form-control" id="msg" rows="3" placeholder="Votre message" required></textarea>
                </div>
                <div class="buttoncontact">
                    <button type="submit" class="btn btn-primary">Envoyer</button>
                </div>
            </form>
        </div>
        <div class="d-flex justify-content-around col-sm-2 offset-sm-1">
            <div class="cardassociation">
                <address>
                    <h5 class="title_association_adress">Country Club Route 45</h5>
                    <p> 54 rue des Chênes 45160 Olivet </p>
                    <p> Tél.: 06.79.31.64.70 </p>
                    <a href="#association" title="Adress du site">www.countryclubroute45.com</a>
                    <div class="logo_CCR45">
                        <img src="/assets/images/logofooter.png" alt="logo du club">
                    </div>
                </address>
            </div>
        </div>
        <div class="parallax"></div>
    </div>

{% endblock %}
