{% extends 'layout.html.twig' %}
{% block header %}
    {% include 'Admin/header.html.twig' %}
{% endblock %}

{% block content %}
    <img class="bg-pagesAdmin" src="/assets/images/westernAdmin.jpg" alt="paysage canyon">
    <h1>Ajouter un membre au bureau</h1>
    {% include 'Admin/Member/_form.html.twig' %}
{% endblock %}
